.about{
    padding: 120px 0 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ba815065;

}
.about-img{
    flex-basis: 50%;
    text-align: center;
    & img{
        width: 350px;
    }
}

.about-txt{
    flex-basis: 50%;
}
.btn-3{
    display: inline-block;
    margin-top: 20px;
    padding: 13px 25px;
    background-color: #ba8250;
    color: #DFDDE0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}
.imgmotor {
    align-items: center;
    margin-top: 100px;
    margin-left: 450px;
    width: 550px;

}

.textoFloat {
    position: relative;
    right: 500px;
    top: -50px;
    color: #ba8250;
}

.textoFloat3{
    position: relative;
    margin-top: 370px;
    padding: 50px;
    right: 200px;
}
.contenedor{
    max-width: 500px;
}
