html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18171d;
}
img{
    max-width: 100%;
}
table{
    width: 100%;
}
th, td{
    color: #DFDDE0;
}
h2{
    color: #DFDDE0;
    font-size: 80px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 15px;
}

p{
    font-size: 16px;
    color: #DFDDE0;
}
h3{
    color: #DFDDE0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}